
    <p>Hola <%= @recipient.name %>!</p>
    <p>
    Order details<br>
    --------------------------
    </p>

<%# %p
  Hola #{@recipient.name}!
%p
  Order details
  %br/
  \--------------------------
%p
  Name: #{@recipient.name}
%p
  Email: #{@recipient.email} %>