.container
  %h1.mt-5.mb-5.text-center.text-white
    Eventos

  %article.card
    %header.card-header 
      Disponibles
    .card-body
      .row
        -Event.where(event_type: 'Open').each do |event|
          .col-md-3.text-center
            %figure.card.card-product-grid.mb-3
              .img-wrap
                -if event.image.attached?
                  = image_tag event.image, class: 'img-cover'

              %figcaption.info-wrap
                %a.title.text-truncate{:href => event_path(event.id)}
                  #{event.title}
                %p.price.mb-2 
                  Precio: #{number_to_currency(event.price)}
                %a.btn.btn-primary.btn-sm{:href => event_path(event.id), style:"width:100%;"} Ver Evento
                -# %a.btn.btn-danger.btn-sm{"data-toggle" => "tooltip", :href => "#", :title => "Remove from wishlist"}
                -#   %i.fa.fa-times



