
= image_tag(@event.image , class:"img-cover2")
.hero-text
  %h1{style:"font-size:80px;"}
    #{@event.title}

.container.mt-4.mb-3.book-container
  .row.justify-content-center.mb-4
    .col-lg-7.col-md-12.col-sm-12.panel-style
      %h3.mb-5.text-center.text-white
        Detalles del Evento
      .row.justify-content-center
        .col-lg-8.col-md-8.col-sm-10.col-xs-12
          .centered
            .card.card-shadow.order-summary.mb-5
              .card-body
                %h3.mb-2
                  hola