.img-cover {
  height: 190px;
  width: 100%;
  object-fit: cover;
}

.card-product-grid .info-wrap {
  overflow: hidden;
  padding: 18px 20px;
}

.card {
  word-wrap: break-word;
}

.text-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

a {
  word-break: break-all;
}
